<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <script src="../static/index.js"></script>
    <!--<title>Document</title>-->
</head>
<body>
    {% if alert_message %}
    <div style="color: #11ad3b" class="alert alert-success" role="alert">
      {{ alert_message }}
    </div>
    <p></p>
  {% endif %}
<form action="/addPlano" method="POST" enctype="multipart/form-data">
    <h2>Adicionar Plano</h2>
    <div>
      <label style="font-weight: bold;" for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>
    </div>

    <div>
      <label style="font-weight: bold;" for="duracao">Autor:</label>
      <input type="text" id="autor" name="autor" required>
    </div>
    <div>
      <label style="font-weight: bold;" for="descricao">Descrição:</label>
      <textarea id="descricao" name="descricao" required></textarea>
    </div>
    <p></p>
    <div>
      <input type="submit" value="Adicionar">
    </div>
  </form>

  <p></p>
  <a href="/addSessao" class="button">Adicionar Sessão</a>
  <a href="/addExercise" class="button">Adicionar Exercício</a>
  <a href="/removeExercise" class="button">Remover Exercício</a>
</body>
</html>