<head>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>


<a class="btn btn-primary btn-large btn-block" href="/">Logout</a>

<div class="card-body pt-4 p-3">
    <ul role="tablist" class="nav nav-tabs mb-3" id="myTab">
        <li class="nav-item" ><a href="#dia1" class="nav-link active" data-toggle="tab" id="segunda" > {{dias[1]}} </a> </li>
        <li class="nav-item" ><a  href="#dia2" class="nav-link " data-toggle="tab" id="quarta"></i> {{dias[2]}} </a> </li>
        <li class="nav-item"><a href="#dia3" class="nav-link " data-toggle="tab" id="sexta"> {{dias[3]}} </a> </li>
    </ul>
    <br>
    <div id="dia1" class="tab-pane active" role="tabpanel" name="segunda">
        firstPlano ={{planos[0]}} 
        <div class="row">
          <div class="col-md-3">
            <span>Nome: {{firstPlano[0]}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <span>Autor: {{firstPlano[1]}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <span>Descrição: {{firstPlano[2]}}</span>
          </div>
        </div>
    </div>

    <div id="dia2" class="tab-pane" role="tabpanel" name="quarta">
        secondPlano ={{planos[1]}} 
        <div class="row">
          <div class="col-md-3">
            <span>Nome: {{secondPlano[0]}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <span>Autor: {{secondPlano[1]}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <span>Descrição: {{secondPlano[2]}}</span>
          </div>
        </div>
    </div>

    <div id="dia3" class="tab-pane" role="tabpanel" name="sexta">
        thirdPlano ={{planos[2]}} 
        <div class="row">
          <div class="col-md-3">
            <span>Nome: {{thirdPlano[0]}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <span>Autor: {{thirdPlano[1]}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3">
            <span>Descrição: {{thirdPlano[2]}}</span>
          </div>
        </div>
    </div>
</div>