<head>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>


<a class="btn btn-primary btn-large btn-block" href="/">Logout</a>
<h1 style="margin-top: 40px;">Sessões do utilizador:</h1>
<h2> {{dias[0]}} </h2>
<div id="dia1" class="tab-pane active plan-section" role="tabpanel" name="segunda">
  <h3 style="margin-top: 0%; color:darkslateblue;">Plano</h3>
  <p></p> 
  <span><b>Nome:</b> {{planos[0][0]}}</span>
  <p></p>
  <span><b>Autor:</b> {{planos[0][1]}}</span>
  <p></p>
  <span><b>Descrição:</b> {{planos[0][2]}}</span>
</div>

<h2> {{dias[1]}} </h2>
<div id="dia2" class="tab-pane plan-section" role="tabpanel" name="quarta">
  <h3 style="margin-top: 0%; color:darkslateblue;">Plano</h3>
  <p></p>
  <span><b>Nome:</b> {{planos[1][0]}}</span>
  <p></p>
  <span><b>Autor:</b> {{planos[1][1]}}</span>
  <p></p>
  <span><b>Descrição:</b> {{planos[1][2]}}</span>
</div>

<h2> {{dias[2]}} </h2>
<div id="dia3" class="tab-pane plan-section" role="tabpanel" name="sexta">
  <h3 style="margin-top: 0%; color:darkslateblue;">Plano</h3>
  <p></p>
  <span><b>Nome:</b> {{planos[2][0]}}</span>
  <p></p>
  <span><b>Autor:</b> {{planos[2][1]}}</span>
  <p></p>
  <span><b>Descrição:</b> {{planos[2][2]}}</span>
</div>