<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <script src="../static/index.js"></script>
</head>

<style>
  input[type=submit]{
    background-color: #e85545;
    border: none;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #8c2708;
  }
</style>

<!DOCTYPE html>
<html>
  <body>
    {% if alert_message == "Exercício não encontrado..." %}
    <div style="color: #e85545" class="alert alert-success" role="alert">
        {{ alert_message }}
    </div>
    <p></p>
    {% endif %} 
    {% if alert_message == "Exercício removido com sucesso!" %}
    <div style="color: #11ad3b" class="alert alert-success" role="alert">
        {{ alert_message }}
    </div>
    <p></p>
    {% endif %} 
    <form method="POST" action="{{ url_for('auth.removeExercise') }}">
      <h2>Remover Exercício</h2>
      <div style="font-weight: bold;">Nome do exercício:</div>
      <p></p>
      <input type="text" name="nome" id="nome">
      <input type="submit" value="Remover">
    </form>

    <p></p>
    <a href="/addExercise" class="button">Adicionar Exercício</a>
  </body>
</html>