<form method="POST">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <link rel="stylesheet" href="../static/css/style.css"/>
    </head>

    <body>
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Login</h1>
                </div>
    
                <div class="login-form">
                    <div class="control-group">
                    <input type="email" class="login-field" value="" placeholder="Enter email" id="login-name" name="email">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
    
                    <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="Enter password" id="login-pass" name="password">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
    
                    <button class="btn btn-primary btn-large btn-block" type="submit">Login</button>
                    <a class="login-link" href="/signup">Register</a>
                </div>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </body>
</form>